<main>
    <p id="main-p">Starting from: $49.99</p>
    <h1>Exclusive collection <br>
        for everyone</h1>
        <button>
            <a routerLink="/shop">
                <p>Explore now</p>
                <svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.5833 17.5C23.9556 17.5 27.5 13.9556 27.5 9.58332C27.5 5.21106 23.9556 1.66666 19.5833 1.66666C15.2111 1.66666 11.6667 5.21106 11.6667 9.58332C11.6667 13.9556 15.2111 17.5 19.5833 17.5Z" stroke="#F8FAFC" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/><path d="M28.3333 18.3333L26.6667 16.6667" stroke="#F8FAFC" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </a>
        </button>
    <div class="hero-slider-items">
        <svg width="40" height="8" viewBox="0 0 40 8" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="8" rx="4" fill="#111827"/></svg>
        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><rect opacity="0.8" width="8" height="8" rx="4" fill="#111827"/></svg>
        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><rect opacity="0.8" width="8" height="8" rx="4" fill="#111827"/></svg>           
    </div>
</main>
<app-services></app-services>
<app-start-exploring></app-start-exploring>
<app-recommendations></app-recommendations>
<app-best-seller></app-best-seller>
<app-banner></app-banner>
